<p>
  <strong>Customer:</strong>
  <%= @booking.customer %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @booking.sitter %>
</p>

<p>
  <strong>Start:</strong>
  <%= @booking.starts_at %>
</p>

<p>
  <strong>End:</strong>
  <%= @booking.ends_at %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
