<div class="kid-fields">
  <%= f.input_field :id, as: :hidden %>
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, '#', class: 'remove_record' %>
  <div class="inline">
    <%= f.input :first_name, wrapper_html: {class: 'info-label'} do %>
      <div class="info-on-hover">
        <div class="info">
          <span>Wird nur deinen Babysittern gezeigt.</span>
        </div>
        <i class="fas fa-info"></i>
      </div>
      <%= f.input_field :first_name, class: 'form-control' %>
    <% end %>
    <%= f.input :age, label: 'Alter', collection: 1..14, selected: 6 %>
  </div>
</div>


