<div class="show-wrapper">
  <%= render 'shared/random_hand_background' %>
  <div class="show-container">
    <% if current_user == @customer || current_user.class == Admin %>
      <%= link_to edit_customer_path(@customer), class: 'edit-button edit-info-on-hover' do %>
        <i class="far fa-edit"></i>
        <span class="info">
          Profil bearbeiten
        </span>
      <% end %>
    <% end %>
    <div class="form-inputs show">
      <div class="profile-photo-container">
        <% if @customer.photo.attached? %>
          <%= cl_image_tag(@customer.photo.key, width: 100, height: 100, gravity: 'face:center', crop: :fill, effect: :sharpen) %>
        <% else %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
      <div class="form-group">
        <%= label_tag t(:name) %>
        <%= @contact_info.full_name %>
      </div>
      <div class="form-group d-flex flex-column">
        <%= label_tag 'Bio:' %>
        <%= @contact_info.bio %>
      </div>
      <% if current_user == @customer || current_user.class == Admin || current_user.customers.select{|c| c.id == @customer.id}.present? %>
        <div class="form-group info-label show">
          <% if current_user == @customer %>
            <%= label_tag t(:phone) %>
            <div class="info-on-hover">
              <div class="info">
                <span>Wird nur dir und deinen Babysitterm gezeigt.</span>
              </div>
              <i class="fas fa-info"></i>
            </div>
          <% else %>
            <%= label_tag t(:phone) %>
          <% end %>
          <br>
          <%= @contact_info.phone %>
        </div>
        <div class="form-group address info-label show">
          <% if current_user == @customer %>
            <%= label_tag t(:address) %>
            <div class="info-on-hover">
              <div class="info">
                <span>Wird nur dir und deinen Babysittern gezeigt.</span>
              </div>
              <i class="fas fa-info"></i>
            </div>
          <% else %>
            <%= label_tag t(:address) %>
          <% end %>
          <br>
          <%= @contact_info.street %>,
          <%= @contact_info.post_code %>
          <%= @contact_info.city %>
        </div>
        <div class="form-group info-label show">
          <% if current_user == @customer %>
            <%= label_tag t(:kids) %>
            <div class="info-on-hover">
              <div class="info">
                <span>Wird nur dir und deinen Babysittern gezeigt.</span>
              </div>
              <i class="fas fa-info"></i>
            </div>
          <% else %>
            <%= label_tag t(:kids) %><br>
          <% end %>
          <% @customer.kids.each do |kid| %>
            <span><%= kid.first_name %>, <%= kid.age %> Jahre alt</span><br>
          <% end %>
        </div>
      <% else %>
        <div class="form-group">
          <%= label_tag t(:kids) %>
          <%= @customer.kids.count %>
          <%= @customer.kids.count == 1 ? "Kind" : 'Kinder' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
