<%= render 'shared/random_hand_background' %>
<div class="show-container">
  <%= simple_form_for(sitter) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= link_to '<i class="fas fa-long-arrow-alt-left"></i>'.html_safe, sitter_path(sitter), class: 'back-button' %>
    <div class="form-inputs">
      <div class="profile-photo-container">
        <% if sitter.photo.attached? %>
          <%= cl_image_tag sitter.photo.key %>
          <%= f.input :photo, label: '<i class="fas fa-pencil-alt"></i>'.html_safe, input_html: {class: 'd-none picture-upload'}, label_html: {class: 'photo-label img-prev'} %>
        <% else %>
          <i class="fas fa-user"></i>
          <%= f.input :photo, label: '<i class="fas fa-pencil-alt"></i>'.html_safe, input_html: {class: 'd-none picture-upload'}, label_html: {class: 'photo-label img-prev'} %>
        <% end %>
      </div>
      <%= f.simple_fields_for :contact_info do |ci| %>
        <%= ci.input :first_name %>
        <%= ci.input :last_name %>
        <%#= ci.input :phone, label_html: {class: 'info-label'} %>
        <%= ci.input :phone, wrapper_html: {class: 'info-label'} do %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur deinen Kunden gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <%= ci.input_field :phone, class: 'form-control' %>
        <% end %>
     <!--    <div class="form-group">
          <div class="info-label">
            <%#= ci.label :phone %>
            <div class="info-on-hover">
              <i class="fas fa-info"></i>
              <div class="info">
                <span>Wird nur deinen Kunden gezeigt.</span>
              </div>
            </div>
          </div>
          <%#= ci.input_field :phone, label: false, class: 'form-control' %>
        </div> -->
        <%= ci.input :bio, as: :text %>
        <%= ci.input :street, wrapper_html: {class: 'info-label'} do %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur dir gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <%= ci.input_field :street, class: 'form-control' %>
        <% end %>
        <%= ci.input :post_code %>
        <%= ci.input :city, input_html: {value: 'Düsseldorf'} %>
        <%= ci.input :country, input_html: {value: 'Germany'}, wrapper_html: {class: 'd-none'} %>
      <% end %>
      <%= f.input :age %>
      <%= f.input :sitter_availabilities, wrapper_html: {class: 'info-label'} do %>
        <div class="info-on-hover">
          <div class="info">
            <span>Wird nur deinen Kunden gezeigt.</span>
          </div>
          <i class="fas fa-info"></i>
        </div>
      <% end %>
      <div class="availabilities form-group">
        <div class="availability-hands">
          <div class="availability-hand-container">
            <%= image_tag random_hand, class: 'availability-hand' %>
          </div>
          <%= link_to_add_fields('', f, :sitter_availabilities, class: 'add-availability-button btn sfk-button d-none') %>
          <div class="availability-fields">
            <%= f.simple_fields_for :sitter_availabilities do |sa| %>
                <%= render 'sitter_availability', f: sa %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Update Profile', class: 'sfk-button' %>
    </div>
  <% end %>
</div>
