<% if current_sitter %>
  <div class="no-instances-info">
    <i class="fas fa-info"></i>
    <span>
      Du findest alle deine Buchungen unter 'meine Buchungen'. Außerdem informieren wir dich immer per Mail wenn jemand Hilfe benötigt. Leider landen unsere Mails hin und wieder auch im Span-Ordner, also halt die Augen auf.
    </span>
</div>
<% end %>
<div class="show-wrapper">
  <% if current_sitter?(@sitter) %>
    <h3>Mein Profil</h3>
  <% end %>
  <%= render '/shared/random_hand_background' %>
  <div class="show-container">
    <% if current_sitter == @sitter || current_admin %>
      <%= link_to edit_sitter_path(@sitter), class: 'edit-button edit-info-on-hover' do %>
        <i class="far fa-edit"></i>
        <span class="info">
          Profil bearbeiten
        </span>
      <% end %>
    <% end %>
    <div class="form-inputs show">
      <div class="profile-photo-container">
        <% if @sitter.photo.attached? %>
          <%= cl_image_tag(@sitter.photo.key, width: 100, height: 100, gravity: 'face:center', crop: :fill, effect: :sharpen) %>
        <% else %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
      <div class="form-group">
        <%= label_tag t(:name) %>
        <%= @contact_info.full_name %>
      </div>
      <div class="form-group">
        <%= label_tag t(:age) %>
        <%= @sitter.age %>
      </div>
      <div class="form-group d-flex flex-column">
        <%= label_tag t(:bio) %>
        <%= @contact_info.bio %>
      </div>
      <% if current_sitter == @sitter || current_admin || current_customer && current_customer.sitters.select{|s| s.id == @sitter.id}.present? %>
        <div class="form-group info-label show">
          <%= label_tag t(:phone) %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur dir und deinen Kunden gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <br>
          <%= @contact_info.phone %>
        </div>
      <% end %>
      <% if current_user == @sitter || current_admin %>
        <div class="form-group address info-label show">
          <%= label_tag t(:address) %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur dir gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <br>
          <%= @contact_info.street %>,
          <%= @contact_info.post_code %>
          <%= @contact_info.city %>
        </div>
        <div class="form-group info-label show">
          <%= label_tag t(:sitter_districts) %>
          <br>
          <% @sitter.districts.each_with_index do |district, idx| %>
            <%= district.name %>
            <% unless idx == @sitter.districts.length - 1 %>
              ,
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @availabilities.present? %>
        <div class="form-group">
          <%= label_tag t(:sitter_availabilities) %>
          <% @availabilities.each do |ca_id, sitter_availabilities| %>
            <% sitter_availabilities.each do |sa| %>
              <div class="availability">
                <span><%= l(sa.starts_at, format: :short) %> - <%= l(sa.ends_at, format: :only_time) %></span>
                  <%= link_to 'Book', bookings_path(booking: {customer_id: current_customer.id, sitter_id: @sitter.id, starts_at: sa.starts_at, ends_at: sa.ends_at, sa_id: sa.id, ca_id: ca_id}), class: 'sfk-button', method: :post %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% elsif @sitter_availabilities.present? %>
        <div class="form-group">
          <%= label_tag t(:sitter_availabilities) %>
          <% @sitter_availabilities.each do |sa| %>
            <div class="availability">
              <span><%= l(sa.starts_at, format: :short) %> - <%= l(sa.ends_at, format: :only_time) %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
