
<div class="show-wrapper">
  <%= render '/shared/random_hand_background' %>
  <div class="show-container">
    <% if current_user == @sitter || current_admin || current_user.sitters.select{|s| s.id == @sitter.id}.present? %>
      <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_sitter_path(@sitter), class: 'edit-button' %>
    <% end %>
    <div class="form-inputs show">
      <div class="profile-photo-container">
        <% if @sitter.photo.attached? %>
          <%= cl_image_tag(@sitter.photo.key, width: 100, height: 100, gravity: 'face:center', crop: :fill, effect: :sharpen) %>
        <% else %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
      <div class="form-group">
        <%= label_tag 'Name:' %>
        <%= @contact_info.full_name %>
      </div>
      <div class="form-group">
        <%= label_tag 'Alter:' %>
        <%= @sitter.age %>
      </div>
      <div class="form-group d-flex flex-column">
        <%= label_tag 'Bio:' %>
        <%= @contact_info.bio %>
      </div>
      <% if current_user == @sitter || current_admin || current_user.sitters.select{|s| s.id == @sitter.id}.present? %>
        <div class="form-group info-label show">
          <%= label_tag 'Telefonnummer' %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur dir und deinen Kunden gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <br>
          <%= @contact_info.phone %>
        </div>
      <% end %>
      <% if current_user == @sitter || current_admin %>
        <div class="form-group address info-label show">
          <%= label_tag 'Adresse' %>
          <div class="info-on-hover">
            <div class="info">
              <span>Wird nur dir gezeigt.</span>
            </div>
            <i class="fas fa-info"></i>
          </div>
          <br>
          <%= @contact_info.street %>,
          <%= @contact_info.post_code %>
          <%= @contact_info.city %>
        </div>
      <% end %>
      <div class="form-group">
        <%= label_tag :sitter_availabilities, "Verfügbarkeiten:" %>
        <% @availabilities.each do |availability| %>
          <div class="availability">
            <span><%= l(availability.start, format: :short) %> - <%= l(availability.end, format: :only_time) %></span>
            <% unless current_user == @sitter %>
              <%= link_to 'Book', '#', class: 'sfk-button' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#= link_to 'Back', sitters_path %>
